
body,html{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
  background: rgb(81,155,197);
	background: linear-gradient(180deg, rgba(81,155,197,1) 0%, #d4d4d4 100%);
	background-repeat: no-repeat;
	background-color: #d4d4d4;
	transition: background-color .5s;
	
}
.card-title{
  font-size: 1.3rem;
}
.card-img-top{
  border-radius: 20px 20px 0px 0px;
}
.card{
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(33,33,33,.2); 
}
.name{
  text-shadow: 0 1px 0 rgba(1, 1, 1,0.1);
  font-family: "Open Sans",Arial,sans-serif;
  color:rgba(0, 0, 0, 0.632) !important;
  font-size: 1.8rem;
  font-weight: bolder;
}

a{
  text-decoration: none !important;
  color:white !important;  
}
.navbar {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.col{
  margin-top: 5%;;
}

.img-preview {
  width: 100%;
  height: 500px;
  position: relative;
  border: 5px solid #F8F8F8;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  margin-top: 1em;
  margin-bottom: 1em;    
}

.img-preview>div {
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}

input[type="file"] {
  display: none;
}

.upload-label{
  display: inline-block;
  padding: 12px 30px;
  background: #39D2B4;
  color: #fff !important;
  font-size: 1em;
  transition: all .4s;
  cursor: pointer;
}

.upload-label:hover{
  background: #34495E;
  color: #39D2B4;
}

.loader {
  display: flex;
flex-flow: row nowrap;
align-items: center;
justify-content: space-between;
width: 2em;
}

.l {
width: 0.3em;
height: 1em;
background-color: #3cefff;
}

.l:nth-of-type(1) {
animation: grow 1s -0.45s ease-in-out infinite;
}

.l:nth-of-type(2) {
animation: grow 1s -0.3s ease-in-out infinite;
}

.l:nth-of-type(3) {
animation: grow 1s -0.15s ease-in-out infinite;
}

.l:nth-of-type(4) {
animation: grow 1s ease-in-out infinite;
}

@keyframes grow {
0%,
100% {
  transform: scaleY(1);
}

50% {
  transform: scaleY(2);
}
}

#result{
  color:black;
}

label{
  color:black !important;
  font-weight: bolder;
}

.display-4{
  font-weight: bolder;
}

#content{
  padding-bottom: 2em;
}