{% extends 'mainhead.html' %}
{% block main %}
<!-- As a heading -->
<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <div class="container-fluid">
      <span class="navbar-brand mb-0 h1 name">SMART HEALTH CARE</span>
      <form class="d-flex">
        <a class="btn btn-success" href="{{ url_for('index') }}">Home</a>
      
        <a class="btn btn-danger ml-3" href="{{ url_for('Heart_') }}">Refresh</a>
      </form>
    </div>
  
</nav>
<style>
  .cl {
    color: {{color}};
  }
</style>
<div class="container">
  <div class="text-center">
    <h1 class="display-4 mt-5" style="font-size: 2rem; color: white;">Check Heart Disease</h1>
  </div>
</div>
<div class="container">
  {% if connect ==  5 %}
  <div style="padding-bottom: 3%" class="card text-center mt-5 animate__animated animate__flipInX animate__slower">
    <div class="card-header">
      Results
    </div>
    <div class="card-body cl" style="background-color:white;">

      <!-- Main ML Prediction Display Here -->
      <p>{{prediction}}</p>

    </div>

    <!-- Main ML Prediction Display Ends Here -->
  </div>
  {% endif %}

  <!-- Main Input For Receiving Query to our ML -->
  <form action="{{ url_for('Heart')}}" style="padding-bottom: 5%" method="POST"
    class="animate__animated animate__fadeIn mt-5">

    <div class="form-group">
      <label style="color:white">Enter age in years || Range(29 - 77)</label>
      <input type="text" name="age" value="{{ age }}" class="form-control" required>
    </div>

    <div class="form-group">
      <label style="color:white">Enter sex (1 = male; 0 = female)</label>
      <input type="text" name="sex" value="{{ sex }}" class="form-control" required>
    </div>
    <div class="form-group">
      <label style="color:white">Enter chest pain type (1 = typical angina; 2 = atypical angina; 3 = non-anginal pain; 4
        = asymptomatic)</label>
      <input type="text" name="cp" value="{{ cp }}" class="form-control" required>
    </div>
    <div class="form-group">
      <label style="color:white">Enter resting blood pressure (in mm Hg on admission to the hospital) || Range(94 - 200)</label>
      <input type="text" name="trestbps" value="{{ trestbps }}" class="form-control" required>
    </div>
    <div class="form-group">
      <label style="color:white">Enter serum cholestoral in mg/dl || Range(126 - 564)</label>
      <input type="text" name="chol" value="{{ chol }}" class="form-control" required>
    </div>
    <div class="form-group">
      <label style="color:white">Enter fasting blood sugar > 120 mg/dl (1 = true; 0 = false)</label>
      <input type="text" name="fbs" value="{{ fbs }}" class="form-control" required>
    </div>
    <div class="form-group">
      <label style="color:white">Enter resting electrocardiographic results (0 = normal; 1 = having ST-T; 2 =
        hypertrophy)</label>
      <input type="text" name="restecg" value="{{ restecg }}" class="form-control" required>
    </div>
    <div class="form-group">
      <label style="color:white">Enter maximum heart rate achieved || Range(71 - 202)</label>
      <input type="text" name="thalach" value="{{ thalach }}" class="form-control" required>
    </div>
    <div class="form-group">
      <label style="color:white">Enter exercise induced angina (1 = yes; 0 = no)</label>
      <input type="text" name="exang" value="{{ exang }}" class="form-control" required>
    </div>
    <div class="form-group">
      <label style="color:white">Enter ST depression induced by exercise relative to rest || Range(0 - 6.2)</label>
      <input type="text" name="oldpeak" value="{{ oldpeak }}" class="form-control" required>
    </div>
    <div class="form-group">
      <label style="color:white">Enter the slope of the peak exercise ST segment (1 = upsloping; 2 = flat; 3 =
        downsloping)</label>
      <input type="text" name="slope" value="{{ slope }}" class="form-control" required>
    </div>
    <div class="form-group">
      <label style="color:white">Enter number of major vessels colored by flourosopy || Range(0 - 3)</label>
      <input type="text" name="ca" value="{{ ca }}" class="form-control" required>
    </div>
    <div class="form-group">
      <label style="color:white">Enter thal value a blood disorder called thalassemia || Range(1 - 3)</label>
      <input type="text" name="thal" value="{{ thal }}" class="form-control" required>
    </div>


    <button type="submit" class="btn btn-success">Predict</button>
  </form>


</div>



{% endblock %}
