{% extends 'mainhead.html' %}
{% block main %}
<!-- As a heading -->
<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <div class="container-fluid">
      <span class="navbar-brand mb-0 h1 name">SMART HEALTH CARE</span>
      <form class="d-flex">
        <a class="btn btn-success" href="{{ url_for('index') }}">Home</a>
      
        <a class="btn btn-danger ml-3" href="{{ url_for('Kidney_') }}">Refresh</a>
      </form>
    </div>
  
</nav>
<style>
  .cl {
    color: {{color}};
  }
</style>
    <div class="container">
      <div class="text-center">
        <h1 class="display-4 mt-5" style="font-size: 2rem; color: white;">Check Chronic Kidney Disease</h1>
      </div>
    </div>
    <div class="container">
      {% if connect ==  5 %}
  <div style="padding-bottom: 3%" class="card text-center mt-5 animate__animated animate__flipInX animate__slower">
    <div class="card-header">
      Results
    </div>
    <div class="card-body cl" style="background-color:white;">

      <!-- Main ML Prediction Display Here -->
      <p>{{prediction}}</p>

    </div>

    <!-- Main ML Prediction Display Ends Here -->
  </div>
  {% endif %}
        
       <!-- Main Input For Receiving Query to our ML -->
       <form action="{{ url_for('Kidney')}}" style="padding-bottom: 5%" method="POST" class="animate__animated animate__fadeIn mt-5">
          
        <div class="form-group">
          <label style="color:white">Enter your Age || Range(2 - 90)</label>
          <input type="text" name="age" value="{{ age }}" class="form-control" required>
        </div>

        <div class="form-group">
          <label style="color:white">Enter your Blood Pressure || Range(50 - 180)</label>
          <input type="text" name="bp"  value="{{ bp }}" class="form-control" required>
        </div>
        <div class="form-group">
          <label style="color:white">Enter your Specific Gravity || Range(1 - 1.02)</label>
          <input type="text" name="sg"  value="{{ sg }}" class="form-control" required>
        </div>
        <div class="form-group">
          <label style="color:white">Enter your Albumin || Range(0 - 4)</label>
          <input type="text" name="al"  value="{{ al }}" class="form-control" required>
        </div>
        <div class="form-group">
          <label style="color:white">Enter your Sugar || Range(0 - 4)</label>
          <input type="text" name="su"  value="{{ su }}" class="form-control" required>
        </div>
        <div class="form-group">
          <label style="color:white">Enter your Red Blood Cell || ('abnormal':1,'normal':0)</label>
          <input type="text" name="rbc"  value="{{ rbc }}" class="form-control" required>
        </div>
        <div class="form-group">
          <label style="color:white">Enter your Pus Cell || ('abnormal':1,'normal':0)</label>
          <input type="text" name="pc"  value="{{ pc }}" class="form-control" required>
        </div>
        <div class="form-group">
          <label style="color:white">Enter your Pus Cell Clumps || ('present':1,'notpresent':0)</label>
          <input type="text" name="pcc"  value="{{ pcc }}" class="form-control" required>
        </div>
        <div class="form-group">
          <label style="color:white">Enter your Bacteria || ('present':1,'notpresent':0)</label>
          <input type="text" name="ba"  value="{{ ba }}" class="form-control" required>
        </div>
        <div class="form-group">
          <label style="color:white">Enter your Blood Glucose Random || Range(22 - 490)</label>
          <input type="text" name="bgr"  value="{{ bgr }}" class="form-control" required>
        </div>
        <div class="form-group">
          <label style="color:white">Enter your Blood Urea || Range(1.5 - 391)</label>
          <input type="text" name="bu"  value="{{ bu }}" class="form-control" required>
        </div>
        <div class="form-group">
          <label style="color:white">Enter your Serum Creatinine || Range(0.4 - 76)</label>
          <input type="text" name="sc"  value="{{ sc }}" class="form-control" required>
        </div>
        <div class="form-group">
          <label style="color:white">Enter your Sodium || Range(4.5 - 163)</label>
          <input type="text" name="sod"  value="{{ sod }}" class="form-control" required>
        </div>
        <div class="form-group">
          <label style="color:white">Enter your Potassium || Range(2.5 - 47)</label>
          <input type="text" name="pot"  value="{{ pot }}" class="form-control" required>
        </div>
        <div class="form-group">
          <label style="color:white">Enter your Hemoglobin || Range(3.1 - 17.8)</label>
          <input type="text" name="hemo"  value="{{ hemo }}" class="form-control" required>
        </div>
        <div class="form-group">
          <label style="color:white">Enter your Packed Cell Volume || Range(9 - 54)</label>
          <input type="text" name="pcv"  value="{{ pcv }}" class="form-control" required>
        </div>
        <div class="form-group">
          <label style="color:white">Enter your White Blood Cell Count || Range(31 - 26400)</label>
          <input type="text" name="wc"  value="{{ wc }}" class="form-control" required>
        </div>
        <div class="form-group">
          <label style="color:white">Enter your Red Blood Cell Count || Range(2.1 - 31)</label>
          <input type="text" name="rc"  value="{{ rc }}" class="form-control" required>
        </div>
        <div class="form-group">
          <label style="color:white">Enter your Hypertension || ('Yes' = 0 , 'No' = 1)</label>
          <input type="text" name="htn"  value="{{ htn }}" class="form-control" required>
        </div>
        <div class="form-group">
          <label style="color:white">Enter your Diabetes Mellitus || ('Yes' = 1 , 'No' = 0)</label>
          <input type="text" name="dm"  value="{{ dm }}" class="form-control" required>
        </div>
        <div class="form-group">
          <label style="color:white">Enter your Coronary Artery Disease || ('Yes' = 1 , 'No' = 0)</label>
          <input type="text" name="cad"  value="{{ cad }}" class="form-control" required>
        </div>
        <div class="form-group">
          <label style="color:white">Enter your Appetite || ('Poor' = 1 , 'Good' = 0)</label>
          <input type="text" name="appet"  value="{{ appet }}" class="form-control" required>
        </div>
        <div class="form-group">
          <label style="color:white">Enter your Padal Edema || ('Yes' = 1 , 'No' = 0)</label>
          <input type="text" name="pe"  value="{{ pe }}" class="form-control" required>
        </div>
        <div class="form-group">
          <label style="color:white">Enter your Anemia || ('Yes' = 1 , 'No' = 0)</label>
          <input type="text" name="ane"  value="{{ ane }}" class="form-control" required>
        </div>


        <button type="submit" class="btn btn-success">Predict</button>
      </form>

    
    </div>
    

 
{% endblock %}
